@import "tailwindcss";

/* 1. Tell Tailwind v4 to look for the .dark class on the html element */
@variant dark (&:where(.dark, .dark *));

/* 2. Migrating your custom theme configuration to v4 variables */
@theme {
  --color-primary: #0A2540;
  --color-primary-dark: #05121F;
  
  --color-accent: #00D4FF;
    --color-accent-black: #00b7db;
  --color-accent-light: #40E0FF;

  --color-neutral-50: #F8FAFC;
  --color-neutral-900: #0F172A;
  --color-neutral-950: #020617;

  --font-heading: "Montserrat", sans-serif;
  --font-body: "Inter", sans-serif;
}


:root {
  --color-primary: #0A2540;
  --color-primary-dark: #05121F;
  
  --color-accent: #00b7db;
  --color-accentBlack: #f81010;
  --color-accent-light: #40E0FF;

  --color-neutral-50: #F8FAFC;
  --color-neutral-900: #0F172A;
  --color-neutral-950: #020617;

  --font-heading: "Montserrat", sans-serif;
  --font-body: "Inter", sans-serif;
}